@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.view {
  position: fixed !important;
  overflow: visible !important;
}