@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');


body {
  /* font-family: 'Lato', sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
  background-color: #2a2a2a !important;
  color: #F9F6EF !important;
}

button.btn {
  font-weight: 700 !important;
  padding: 0.75rem 1rem !important;
}

.view {
  position: inherit !important;
  overflow: visible !important;
}

.awssld__content {
  background-color: #242424 !important;
}

.awssld__content>img,
.awssld__content>video {
  object-fit: inherit !important;
  height: unset !important;
  /* position: unset !important; */

}

.project-title-bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
}

.project-title-bar h2 {
  content: attr(data-text);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -.5px;
  color: #8a8a8a;
}

.project-title-bar i,
.project-title-bar i:before,
.project-title-bar i::after {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 10px;
}

.project-title-bar i:before {
  content: " ";
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
}

.project-title-bar i:after {
  content: " ";
  left: 32px;
  background-color: #28ca41;
  top: 0;
}

.slick-list {
  padding: 20px 60px !important;
}





.topound {
  animation: pound 1s infinite;
}

@keyframes pound {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.0);
  }
}


nav{
  background-color: #2222227a;
  padding: 0.5rem;
  z-index: 10000;

}

.nav-link{
  color: #F9F6EF ;
  font-weight: bold;
  font-size: 1.5rem;
  margin: auto 1rem;
}

.nav-link:hover{
  color: #8a8a8a;
border-bottom: 2px solid #6a6a6a;
}

.nav-link.active{
  border-bottom: 2px solid #6a6a6a;
  background-color: #212121;
  border-radius: 6px;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky-nav + .routed {
  padding-top: 86px;
}

@media only screen and (max-width: 576px) {
.nav-link{
  font-size: 1rem;
  margin: auto 0.5rem;
}
}